In [2]:
import pandas as pd
from env import get_db_url

# Acquire:

I need to figure out why these are coming out differently after the join. 
- There's a difference of 52,887 records. 
- it appears that there there are some IDs and Cohort IDs that do not much.

### Importing from CSV:

In [48]:
df1 = pd.read_csv('anonymized_curriculum_access.csv')

In [49]:
df1.shape[0]

900223

## Importing from the database using SQL

In [33]:
url = get_db_url('curriculum_logs')

query = '''SELECT * FROM logs
RIGHT JOIN cohorts 
ON logs.cohort_id = cohorts.id;'''

In [46]:
df2 = pd.read_sql(query, url)

In [47]:
df2.shape[0]

847336

## Trying to understand difference in counts:

In [51]:
df1.shape[0] - df2.shape[0]

52887